<section class="contact">
    <div class="container">
        <div class="row text-center h-200">
            <h3>Lorem Ipsum is simply dummy</h3>
            <h4>TEXT OF THE PRINTING</h4>
        </div>
    </div>
</section>
<section class="content-img">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="inner-container-1">
                    <img src="images/dolar.png" alt="image">
                    <p>Not happy with your purchase?</p>
                    <b>100% oney back guarantee</b>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner-container-2">
                    <img src="images/message.png" alt="image">
                    <p>Not happy with your purchase?</p>
                    <b>100% oney back guarantee</b>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner-container-3">
                    <img src="images/delivery.png" alt="image">
                    <p>Not happy with your purchase?</p>
                    <b>100% oney back guarantee</b>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>