    <!-- CONTACT SECTION START-->
    <section class="contact">
        <div class="container">
            <div class="row text-center h-200">
                <h3>EVERYDAY LOWER PRICING</h3>
                <h4>PRE-ORDER NOW.</h4>
            </div>
        </div>
    </section>
    <!-- CONTACT SECTION END-->
    <!-- CONTENT-IMG SECTION START-->
    <section class="content-img">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="inner-container-1">
                        <img src="https://cdn.shopify.com/s/files/1/0354/3269/3819/files/dolar.png?v=1671792422" alt="image">
                        <p>Not happy with your purchase?</p>
                        <b>100% oney back guarantee</b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner-container-2">
                        <img src="https://cdn.shopify.com/s/files/1/0354/3269/3819/files/message.png?v=1671792422" alt="image">
                        <p>Have A Question?</p>
                        <b>Call Or Email Now!</b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner-container-3">
                        <img src="https://cdn.shopify.com/s/files/1/0354/3269/3819/files/delivery.png?v=1671792422" alt="image">
                        <p>Fast Free Shipping</p>
                        <b>For All Orders > $50</b>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTENT-IMG SECTION END-->
    {% schema %}
        {
        "name": "home contact-us",
        "settings":[],
        "presets": [
        {
        "name": "Contact-us",
        "category": "home"
        
        }
        ]
        }
        {% endschema %}