<section class="accessories">
    <div class="container">
        <div class="row accessories-title">
            <div class="col-md-6">
                <h3>HUGE RANGE OF ACCESSORIES </h3>
                <h4>@ GREAT PRICES. ALWAYS!</h4>
            </div>
            <div class="col-md-6">
                <a href="#" class="cta-btn">
                    Shop Snowboard
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0">
        <div class="row g-0">
            <div class="col-6 col-md-3">
                <div class="accessories-content">
                    <img src="https://cdn.shopify.com/s/files/1/0679/5096/9121/files/goggles.png" alt="image">
                    <span>Goggles</span>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="accessories-content">
                    <img src="https://cdn.shopify.com/s/files/1/0679/5096/9121/files/helmet.png" alt="image">
                    <span>Helmet</span>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="accessories-content">
                    <img src="https://cdn.shopify.com/s/files/1/0679/5096/9121/files/travel-bags.png" alt="image">
                    <span>Travel Bags</span>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="accessories-content">
                    <img src="https://cdn.shopify.com/s/files/1/0679/5096/9121/files/base-layers.png?v=1668773671" alt="image">
                    <span>Base layers</span>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
"name": "home accessoriies",
"settings":[],
"presets": [
{
"name": "Accessories",
"category": "home"

}
]
}
{% endschema %}