<section class="check-out">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h2>
          CHECKOUT @ELEVATION107 <br>
          ON INSTAGRAM
        </h2>
      </div>
    </div>
    <div class="container-fluid px-0">
      <div class="row g-0">
        <div class="col-6 col-md-3 position-relative">
          <div class="img-wrap position-relative">
            <img src="https://cdn.shopify.com/s/files/1/0679/5096/9121/files/im-1.png" alt="image">
            <div class="social-icon">
              <i class="fa-brands fa-instagram"></i>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3 position-relative">
          <div class="img-wrap position-relative">
            <img src="https://cdn.shopify.com/s/files/1/0679/5096/9121/files/im-2.png" alt="image">
            <div class="social-icon">
              <i class="fa-brands fa-instagram"></i>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3 position-relative">
          <div class="img-wrap position-relative">
            <img src="https://cdn.shopify.com/s/files/1/0679/5096/9121/files/im-3.png" alt="image">
            <div class="social-icon">
              <i class="fa-brands fa-instagram"></i>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3 position-relative">
          <div class="img-wrap position-relative">
            <img src="https://cdn.shopify.com/s/files/1/0679/5096/9121/files/im-4.png" alt="image">
            <div class="social-icon">
              <i class="fa-brands fa-instagram"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
"name": "check out",
"settings":[],
"presets": [
{
"name": "Check Out Section",
"category": "home"

}
]
}
{% endschema %}
