<section class="feedback">
    <div class="container">
        <div class="row feedback-title">
            <div class="col-md-6">
                <h3>What Our Clients Say </h3>
                <h4>@ GREAT PRICES! ALWAYS!</h4>
            </div>
            <div class="col-md-6 position-relative">
                <img src="https://cdn.shopify.com/s/files/1/0679/5096/9121/files/white-lines.png" alt="image" class="vertical-lines">
                <a href="#" class="cta-btn red">
                    Shop Snowboard
                </a>
            </div>
        </div>
        <div class="row feedback-slider">
            <div class="col-12 col-md-6">
                <div class="slide-content">
                    <div class="inner-content">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/0679/5096/9121/files/face-img.png" alt="image">
                        </div>
                        <div class="name">
                            <h4>John Donne</h4>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta quam tempore quasi
                        voluptatibus libero eveniet aspernatur debitis dolor sequi et facilis, harum, velit, cum
                        sapiente consequuntur. Vitae nisi pariatur ipsam.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="slide-content">
                    <div class="inner-content">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/0679/5096/9121/files/face-img.png" alt="image">
                        </div>
                        <div class="name">
                            <h4>John Donne</h4>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta quam tempore quasi
                        voluptatibus libero eveniet aspernatur debitis dolor sequi et facilis, harum, velit, cum
                        sapiente consequuntur. Vitae nisi pariatur ipsam.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="slide-content">
                    <div class="inner-content">
                        <div class="img-wrap">
                            <img src="https://cdn.shopify.com/s/files/1/0679/5096/9121/files/face-img.png" alt="image">
                        </div>
                        <div class="name">
                            <h4>John Donne</h4>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta quam tempore quasi
                        voluptatibus libero eveniet aspernatur debitis dolor sequi et facilis, harum, velit, cum
                        sapiente consequuntur. Vitae nisi pariatur ipsam.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
"name": "home feedback section",
"settings":[],
"presets": [
{
"name": "Feedback Section",
"category": "home"

}
]
}
{% endschema %}