<section class="buying-guide">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-4 d-none d-md-block">
                <div class="ski-img">
                    <img src="https://cdn.shopify.com/s/files/1/0679/5096/9121/files/snow-scoot-snow-bike-extreme-winter-sports-_1_1.png" alt="image">
                </div>
            </div>
            <div class="col-12 col-md-4 text-center text-md-start">
                <h3>CHECK OUT OUR SIZE</h3>
                <h4>& BUYING GUIDES</h4>
                <div class="mt-4">
                    <a href="#" class="cta-btn">
                        View Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
"name": "home buying guide",
"settings":[],
"presets": [
{
"name": "Home Buying Guides",
"category": "home"

}
]
}
{% endschema %}