* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    font-kerning: none;
    font-weight: 400;
    font-size: 15px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif !important;
}

.img-wrap img {
  height: auto;
  max-width: 100%;
}

.announcement-bar {
    background-color: #bd000e;
    padding: 0.5rem 0 0.2rem 0;
}

.announcement-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.announcement-content #timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
}

.announcement-content p {
    margin-bottom: 0;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}

.announcement-content .box {
    text-align: center;
    padding: 0.3rem;
}

.box p {
    display: block;
    font-size: 8px;
    color: #fff;
    margin-top: 0.2rem;
}

#timer #days {
    font-size: 14px;
    color: #005953;
    background: #fff;
    height: 26px;
    width: 32px;
    border-radius: 5px;
    font-weight: 700;
    line-height: 2;
}

#timer #hours {
    font-size: 14px;
    color: #005953;
    background: #fff;
    height: 26px;
    width: 32px;
    border-radius: 5px;
    font-weight: 700;
    line-height: 2;
}

#timer #minutes {
    font-size: 14px;
    color: #005953;
    background: #fff;
    height: 26px;
    width: 32px;
    border-radius: 5px;
    font-weight: 700;
    line-height: 2;
}

#timer #seconds {
    font-size: 14px;
    color: #005953;
    background: #fff;
    height: 26px;
    width: 32px;
    border-radius: 5px;
    font-weight: 700;
    line-height: 2;
}

/* <--------- ANNOUNCEMENT BAR CSS END ---------> */

.hero-section {
    background-image: url('https://cdn.shopify.com/s/files/1/0679/5096/9121/files/banner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.hero-section h1 {
    margin: 0.5rem 0 2.5rem 0;
    font-size: 4rem;
    color: #001F1C;
}

.hero-section .rating {
    margin-bottom: 2.5rem;
}

.hero-section .rating .number {
    margin-left: 0.3rem;
    font-size: 14px;
}

.content i {
    font-size: 1.5rem;
    font-style: italic;
}

.rating svg {
    color: #FFCB06;
}

.cta-btn {
    text-decoration: none;
    background: #005953;
    padding: 1.3rem 2.5rem;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
}

.cta-btn:hover,
.cta-btn:focus {
    background-color: #BD000E;
    color: #fff;
    transform: translateY(-2px);
}

.cta-btn.red {
    text-decoration: none;
    background: #BD000E;
    padding: 0.7rem 2rem;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
}

.cta-btn.red:hover,
.cta-btn.red:focus {
    background-color: #fff;
    color: #005953;
}

.banner-slider svg#left,
.banner-slider svg#right {
    position: absolute;
    fill: #bd000e;
    top: 50%;
    cursor: pointer;
}
.banner-slider svg#left {
    left: -64%;
}
.banner-slider svg#right {
    right: -64%;
}

/* <-------- HERO SECTION END --------> */

.brands {
    background-color: #005953;
    padding: 4rem 0;
    color: #fff;
}

/* <-------- BRANDS SECTION END --------> */

.summer-sale {
    padding: 7rem 0;
    position: relative;
}

.summer-sale .virtical-lines {
    position: absolute;
    right: 290px;
    top: 12px;
}

.summer-sale svg {
    position: absolute;
    top: -85px;
    cursor: pointer;
    transition: all .35s ease-in-out;
}

.summer-sale svg:hover,
.summer-sale svg:focus {
    fill: #bd000e;
}

.summer-sale svg#left {
    right: 310px;
}

.summer-sale svg#right {
    right: 250px;
}

.summer-sale .sale-title {
    margin-bottom: 2rem;
}

.summer-sale .cta-btn {
    float: right;
}

.summer-sale h2 {
    color: #001F1C;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}

.summer-sale h2+p {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-transform: capitalize;
    color: #001F1C;

}

.sale-content {
    border: 1px solid rgb(0 0 0 / 10%);
    height: 100%;
    position: relative;
    box-shadow: 0.03rem 1rem 1rem #00000012;
    margin: 0 0.6rem;
    cursor: pointer;
}

.sale-content>a {
    text-decoration: none;
}

.sale-content p {
    margin-bottom: 0;
}

.sale-content .discount-lable {
    position: absolute;
    height: 80px;
    width: 80px;
    background: #BD000E;
    top: 0;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    left: 0;
    border-radius: 0 0 100px 0;
    padding-left: 0.8rem;
    font-style: italic;
}

.sale-content .title h4 {
    font-size: 17px;
    line-height: 21px;
    text-transform: capitalize;
    color: #005953;
    font-weight: 700;
    word-spacing: 1.5px;
    padding: 1rem;
}

.sale-content .price {
    padding: 0 1rem 1rem;
}

.price del {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #001F1C;
}

.price p {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #BD000E;
}

.summer-sale .img-wrap {
    width: 100%;
}

.summer-sale .img-wrap img {
    height: auto;
    max-width: 100%;
}

/* <-------- SUMMER-SALE SECTION END --------> */

.contact {
    background-color: #BD000E;
    padding: 5rem 0 10rem 0;
    color: #fff;
}

.contact h3 {
    font-weight: 800;
    font-size: 25px;
    color: #fff;
}

.contact h4 {
    font-weight: 500;
    font-size: 25px;
    color: #fff;
}

.content-img {
    margin-top: -8rem;
}

.contact-img {
    width: 100%;
    background-color: #fff;
    box-shadow: 0.1rem 1rem 1rem 0.8rem #00000024;
}

.content-img .inner-container-1 {
    background: url('https://cdn.shopify.com/s/files/1/0354/3269/3819/files/shadow-1.png') left top no-repeat;
    background-color: #fff;
    box-shadow: 0.1rem 1rem 1rem 0.8rem #00000024;
    padding: 3rem 0;
    margin-bottom: 1.5rem;
}

.content-img .inner-container-2 {
    background: url('https://cdn.shopify.com/s/files/1/0354/3269/3819/files/shadow-2.png?') left top no-repeat;
    background-color: #fff;
    box-shadow: 0.1rem 1rem 1rem 0.8rem #00000024;
    padding: 3rem 0;
    margin-bottom: 1.5rem;
}

.content-img .inner-container-3 {
    background: url('https://cdn.shopify.com/s/files/1/0354/3269/3819/files/shadow-3.png') left top no-repeat;
    background-color: #fff;
    box-shadow: 0.1rem 1rem 1rem 0.8rem #00000024;
    padding: 3rem 0;
    margin-bottom: 1.5rem;
}

.content-img p {
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #001F1C;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

/* <-------- CONTACT SECTION END --------> */

.feedback {
    padding: 7rem 0 9rem 0;
    background-color: #005953;
    overflow-x: hidden;
}

.feedback .feedback-title {
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 4rem;
}

.feedback-title h3 {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.feedback-title h4 {
    font-weight: 400;
    font-size: 25px;
}

.feedback-title .vertical-lines {
    position: absolute;
    right: 295px;
    top: 11px;
}

.feedback-title .cta-btn {
    float: right;
}

.feedback .slide-content {
    margin: 1rem;
    padding: 1.5rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

.feedback .feedback-slider {
    position: relative;
    z-index: 1;
}

.feedback .feedback-slider::before {
    content: "";
    position: absolute;
    background-image: url('../images/left-quote.png');
    height: 120px;
    width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    top: -45px;
    left: 100px;
    opacity: 0.4;
}

.feedback .feedback-slider::after {
    content: "";
    position: absolute;
    background-image: url('../images/right-quote.png');
    height: 120px;
    width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -65px;
    right: 100px;
    opacity: 0.4;
    z-index: -1;
}

.slide-content .inner-content {
    display: flex;
    align-items: center;
}

.inner-content h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    color: #BD000E;
}

.inner-content .name {
    padding-left: 1rem;
}

.name .rating i {
    color: #FFCB06;
}

.slide-content p {
    padding-top: 1.5rem;
}

.feedback svg {
    position: absolute;
    fill: #fff;
    top: -7.90rem;
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: all .35s ease-in-out;
}

.feedback svg:hover,
.feedback svg:focus {
    fill: #bd000e;
}

.feedback svg#right {
    right: 14rem;
}

.feedback svg#left {
    right: 20rem;
}


/* <-------- FEEDBACK SECTION END --------> */

.accessories {
    padding: 6rem 0 1rem 0;
}

.accessories .accessories-title {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.accessories-title .cta-btn {
    float: right;
}

.accessories-title h3 {
    color: #001F1C;
    font-size: 25px;
    font-weight: 800;
}

.accessories-title h4 {
    color: #001F1C;
    font-size: 25px;
    font-weight: 500;
}

.accessories .accessories-content {
    text-align: center;
    border: 1px solid transparent;
    position: relative;
}

.accessories-content img {
    width: 100%;
}

.accessories-content span {
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}

/* <-------- ACCESSORIES SECTION END --------> */

.quality {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
}

.ski-man-wrap {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
}

.ski-man-wrap img {
    width: 100%;
    height: 100%;
}

.quality h3 {
    font-weight: 700;
    font-size: 25px;
}

.quality p {
    font-size: 13px;
    font-weight: 400;
}

.quality p a {
    font-weight: 700;
    color: #BD000E;
}

/* <-------- QUALITY SECTION END --------> */

.buying-guide {
    background-image: url('https://cdn.shopify.com/s/files/1/0679/5096/9121/files/red-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 1.5rem 0;
    color: #fff;
}

.ski-img {
    position: absolute;
    top: -65px;
}

/* <-------- BUYING GUIDE SECTION END --------> */

.our-blog {
    padding: 9rem 0 8rem 0;
    background-color: #f1f1f1;
}

.our-blog h3 {
    margin-bottom: 3rem;
}

.our-blog h5 {
    color: #001F1C;
    font-size: 20px;
    font-weight: 700;
    margin: 1rem 0;
}

.date span {
    font-size: 12px;
    color: #BD000E;
    font-weight: 700;
}

.comments {
    display: inline-block;
}

.comments i {
    color: #BD000E;
    margin-right: 0.5rem;
}

.comments span {
    font-size: 14px;
    color: #999999;
    font-weight: 600;
}

/* <-------- OUR BLOG SECTION END --------> */

.check-out {
    background-color: #f1f1f1;
}

.check-out h2 {
    color: #001F1C;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 3rem;
}

.check-out .img-wrap {
    border: 1px solid transparent;
}


.check-out .img-wrap img {
    height: auto;
    max-width: 100%;
}

/* <-------- CHECK OUT SECTION END --------> */


.footer {
    padding: 5rem 0;
    background-color: #005953;
    color: #fff;
}

.footer-logo {
    margin-bottom: 2rem;
}

.footer-logo img {
    height: auto;
    max-width: 100%;
}

.footer-links h5 {
    margin-bottom: 2rem;
    font-size: 18px;
    font-weight: 700;
}

.footer-links .menu-links {
    padding-left: 0;
}

.footer-links .menu-links li {
    padding: 0.3rem 0;
}

.footer-links .menu-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.footer .call a {
    text-decoration: none;
}

.social-link {
    padding-left: 0;
    display: flex;
    align-items: center;
}

.social-link li {
    height: 30px;
    width: 30px;
    background-color: #BD000E;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    transition: all .35s ease-in-out;
}

.social-link li:hover {
    transform: translateY(-4px);
}

.social-link li a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link a i {
    font-size: 18px;
    color: #fff;
}

form .form-control {
    font-size: 0.7rem;
}

.footer-links p {
    font-size: 13px;
}

.footer-links a,
.call a {
    color: #fff;
    font-weight: 500;
}

.form-control:focus {
    background-color: #fff;
    border-color: #BD000E;
    box-shadow: none;
}

	.input-group .cta-btn.red:hover {
    transform: none;
}

/* MEDIA QUERY START  */
@media only screen and (max-width: 1600px) {
    .banner-slider svg#left {
        left: -55%;
    }

    .banner-slider svg#right {
        right: -55%;
    }
}


@media only screen and (max-width: 1400px) {
    .banner-slider svg#left {
        left: -52%;
    }

    .banner-slider svg#right {
        right: -52%;
    }
}



@media only screen and (max-width: 1200px) {
    .quality .ski-wrap img {
        height: auto;
        max-width: 100%;
    }

    .banner-slider svg#left {
        left: -54%;
    }

    .banner-slider svg#right {
        right: -54%;
    }

}

@media only screen and (max-width: 1024px) {
    .quality {
        height: 81vh;
    }
}

@media only screen and (max-width: 768px) {

    .hero-section .content {
        padding: 1rem;
    }

    .banner-slider .img-wrap img {
        margin-top: 3rem;
    }

    .brands .cta-btn.red {
        margin-bottom: 2rem;
    }

    .product .product-images {
        display: none;
    }

    .form-icons-group {
        right: 80px;
        gap: 12px;
    }

    .feedback {
        padding: 4rem 0 3rem 0;
    }

    .feedback .feedback-slider::before {
        height: 80px;
        width: 80px;
        top: -28px;
        left: 45px;
    }

    .feedback .feedback-slider::after {
        height: 80px;
        width: 80px;
      right: 40px;
      bottom: -38px;
    }

    .feedback .feedback-title {
        margin-bottom: 1rem;
    }

    .feedback-title .cta-btn {
        float: left;
        margin-top: 1rem;
    }

    .feedback-title .vertical-lines {
        right: 74px;
        top: 25px;
    }

    .feedback svg#right {
        right: 14rem;
        top: auto;
        bottom: -4.2rem;
        right: 0;
    }

    .feedback svg#left {
        right: 6.4rem;
        top: auto;
        bottom: -4.2rem;
    }

    .summer-sale .cta-btn {
        float: left;
    }

    .summer-sale .virtical-lines {
        right: 76px;
        top: 12px;
    }

    .summer-sale svg#right {
        right: 30px;
        top: auto;
        bottom: -40px;
    }

    .summer-sale svg#left {
        right: 125px;
        top: auto;
        bottom: -40px;
    }
    .quality {
        height: auto;
        margin: 3rem 0;
    }

    .ski-man img {
       height: auto;
       max-width: 100%;
    }
}

@media only screen and (max-width: 480px) {

    .banner-slider .content {
        padding: 1rem;
    }

    .banner-slider .img-wrap img {
        margin-top: 3rem;
    }

    .banner-slider svg#left {
        left: -43%;
        top: 68%;
        z-index: 1;
    }

    .banner-slider svg#right {
        right: -43%;
        top: 68%;
    }

    .accessories-content span {
        font-size: 14px;
    }

    .summer-sale .cta-btn {
        float: left;
    }

    .summer-sale svg#left {
        right: 141px;
        top: auto;
        bottom: -41px;
    }

    .summer-sale .virtical-lines {
        right: 92px;
    }

    .summer-sale svg#right {
        top: auto;
        right: 58px;
        bottom: -41px;
    }

    .feedback .feedback-slider::before,
    .feedback .feedback-slider::after {
        content: none;
    }

    .feedback-title .cta-btn {
        float: left;
        margin-top: 1.5rem;
    }

    .feedback {
        padding: 2.5rem 0 1.5rem 0;
    }

    .feedback .feedback-title {
        margin-bottom: 1.5rem;
    }

    .feedback svg#right {
        right: 1.3rem;
        top: auto;
        bottom: -4.8rem;
    }

    .feedback-title .vertical-lines {
        right: 90px;
        top: 34px;
    }

    .feedback svg#left {
        right: 7.1rem;
        top: auto;
        bottom: -4.8rem;
    }

    .accessories-title .cta-btn {
        float: left;
    }
}

@media only screen and (max-width: 420px) {

    .banner-slider .content b {
        padding-left: 1rem;
    }

    .banner-slider .content h1,
    .content .rating {
        padding-left: 1rem;
    }

    .content .cta-btn {
        margin-left: 1rem;
    }


    .banner-slider .img-wrap {
        margin-top: 2rem;
    }

    .brands {
        padding: 2.5rem 0;
    }

    .brand-text {
        margin-bottom: 2rem;
    }

    .brands .img-wrap {
        margin-bottom: 1rem;
    }

    .summer-sale {
        padding: 2.5rem 0;
    }

    .summer-sale svg {
        position: absolute;
        top: -69px;
        cursor: pointer;
    }

    .summer-sale svg#left {
        right: 90px;
    }

    .summer-sale svg#right {
        right: 20px;
    }

    .summer-sale .virtical-lines {
        right: 64px;
        top: 10px;
    }

    .contact {
        padding: 2.5rem 0 10rem 0;
    }

    .accessories {
        padding: 2.6rem 0 1rem 0;
    }

    .accessories-title h4 {
        margin-bottom: 1.5rem;
    }

    .accessories-title .cta-btn {
        float: left;
    }

    .feedback {
        padding: 2.5rem 0 5rem 0;
    }

    .feedback .feedback-title {
        display: flex;
        align-items: center;
        color: #fff;
        margin-bottom: 2.5rem;
    }

    .feedback svg {
        top: -5.7rem;
    }

    .feedback .feedback-slider::before {
        height: 75px;
        width: 75px;
        top: -45px;
        left: 25px;
    }

    .feedback .feedback-slider::after {
        height: 75px;
        width: 75px;
        bottom: -39px;
        right: 35px;
    }

    .quality {
        margin-bottom: 1rem;
    }

    .our-blog {
        padding: 2.5rem 0;
    }

    .our-blog h3 {
        margin-bottom: 1rem;
    }

    /* <-------- CATEGORY PAGE CSS STARTS --------> */

    .summer-sale svg {
        top: auto;
        bottom: -35px;
    }

    .summer-sale svg#left {
        right: 90px;
    }

    .summer-sale .virtical-lines {
        right: 52px;
        top: 13px;
    }

    .summer-sale svg#right {
        right: 23px;
    }
    .banner-slider .img-wrap img {
        margin: 1.5rem 0 2.5rem 0;
    }

    .feedback {
        padding: 2.5rem 0 2.5rem 0;
    }

}

@media only screen and (max-width: 320px) {

    .cta-btn {
        padding: 0.7rem 1.5rem;
    }

    .summer-sale svg {
        top: auto;
        bottom: -35px;
        height: 25px;
    }

    .summer-sale svg#left {
        right: 76px;
    }

    .summer-sale .virtical-lines {
        right: 43px;
        top: 10px;
    }

    .summer-sale svg#right {
        right: 12px;
    }

    .feedback {
        padding: 2.5rem 0 1rem 0;
    }

    .feedback-title h3 {
        font-size: 20px;
    }

    .feedback-title h4 {
        font-size: 20px;
        margin-top: 0.5rem;
    }

    .feedback .slide-content {
        margin: 0 1rem;
    }

    .feedback .feedback-slider::before,
    .feedback .feedback-slider::after {
        content: none;
    }

    .feedback-title .cta-btn {
        float: left;
        margin-top: 2rem;
    }

    .cta-btn.red {
        padding: 0.7rem 1.5rem;
    }

    .feedback-title .vertical-lines {
        right: 60px;
        top: auto;
        bottom: 9px;
    }

    .feedback svg {
        top: auto;
        height: 25px;
    }

    .feedback svg#left {
        bottom: -4.2rem;
        right: 4.6rem;
    }

    .feedback svg#right {
        right: 0;
        bottom: -4.2rem;
    }

    .accessories-content span {
        font-size: 10px;
    }

    .banner-slider .img-wrap img {
        margin-top: 1.5rem;
    }
}
